<!DOCTYPE html>
<html>
<head>
    <title>Failed Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><h1 class = "text-danger">Failed Login</h1></center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4">
            <center><a href="/login" data-toggle="tab"><span class="glyphicon glyphicon-circle-arrow-right"></span>  Let me try again to Login</a></center>
        </div>
    </div>
</div>
</div>
</body>
</html>